/* 1 */
p {
  color: white;
  background-color: goldenrod;
}

/* 10 */
.p {
  background-color: blue;
}

/* 100 */
#text {
  background-color: brown;
}

/* 10 */
[title] {
  background-color: green;
}

/* 1+1=2 */
div b {
  background-color: red;
}

/* 1+1=2 */
div>p {
  background-color: gray;
}

/* 1+10=11 */
p.paragraph {
  background-color: plum;
}

/* 10+100=110 */
.block #teg {
  background-color: purple;
}

/* 10+10=20 */
.p[dir] {
  background-color: black;
}

/* 10+10=20 */
.message[tabindex] {
  background-color: rgb(6, 148, 158);
}