/* 1 */
p {
  color: white;
  background-color: goldenrod;
}

/* 10 */
.p {
  background-color: blue;
}

/* 100 */
#text {
  background-color: brown;
}

/* 10 */
[title="текст"] {
  background-color: green;
}

/* 2 */
div b {
  background-color: red;
}

/* 2 */
div p {
  background-color: gray;
}

/* 3 */
p b i {
  background-color: purple;
}

p