/* 1 */
p {
  color: white;
  background-color: goldenrod;
}

/* 10 */
.p {
  background-color: blue;
}

/* 100 */
#text {
  background-color: brown;
}

/* 10 */
[id="message"] {
  background-color: green;
}

/* 2 */
div i {
  background-color: red;
}

/* 2 */
p b {
  background-color: purple;
}